[WebServer]
port=8080

[Domoticz]
url=http://localhost:8080/
http_auth=mylogin:mypassword
plan=0
device_idx_dht22=1
device_idx_heating=2
device_idx_heater=3
device_idx_outdoor=4

[DHT22]
refresh=300
command=/bin/readDht22.sh